
:root {
  --default-bg: #488cf4;
  --empty-bg: #3a3a3c;
  --wrong-bg: #b59f3b;/*wrong place*/
  --right-bg: #538d4e;/*right place*/
  --box-size: 70px; /* Box size as a variable for easier adjustments */
}

html, body {
  background: var(--default-bg);
  margin: 0;
  padding: 0;
  /*font-family: 'Arial', sans-serif;*/
}

#game {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 2rem;
  width: 100%;
  height: 63vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, var(--box-size)); /* Use variable for size */
  grid-template-rows: repeat(6, var(--box-size));
  gap: 8px;
}

.box {
  width: var(--box-size);
  height: var(--box-size);
  /*background-color: var(--empty-bg);
  border: 2px solid var(--empty-bg);*/
  display: grid;
  place-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  background-color: #b8b4ec;

}

.box.empty {
  background: var(--empty-bg);
}

.box.wrong {
  background: var(--wrong-bg);
}

.box.right {
  background: var(--right-bg);
}

.animated {
  animation: flip 0.5s ease-in-out;
}

@keyframes flip {
  0% { transform: scaleY(1); }
  50% { transform: scaleY(0); }
  100% { transform: scaleY(1); }
}

@media (max-width: 600px) {
  .box {
    width: 10vw;
    height: 10vw;
  }

  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.title {
  color: white;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  /*font-size: 2rem;
  font-weight: 900;*/
  font-size: 2rem;
  margin-bottom: 0;
 
}

/* style.css */
.text-area {
	padding: 5px;
	width: calc(100vw - 30px);
	height: calc(100vh - 295px);
}

.keyboard{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

button{
  font-weight: bold;
  border-color: black;
  background-color: rgba(238, 202, 202, 0.952);
  display: inline-block;
  padding: .4rem 1rem;
  margin: .1rem;
  font-size: 1.3rem;
  color: #d81212;
  border-radius: 10px;
  height: 50px;
  width: 90px;
}

.keyboard--hidden {
	bottom: -100%;
}

.keyboard__keys {
	text-align: center;
}

.keyboard__key {
	height: 45px;
	width: 6%;
	max-width: 90px;
	margin: 3px;
	border-radius: 4px;
	border: none;
	background: rgba(255, 255, 255, 0.2);
	color: white;
	font-size: 1.05rem;
	outline: none;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: top;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	position: relative;
}

.keyboard__key:active {
	background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
	width: 12%;
}

.keyboard__key--extra--wide {
	width: 36%;
	max-width: 500px;
}

.keyboard__key--activatable::after {
	content: "";
	position: absolute;
	top: 10px;
	right: 10px;
	width: 8px;
	height: 8px;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 50%;
}

.keyboard__key--active::after {
	background: #08ff00;
}

.keyboard__key--dark {
	background: rgba(0, 0, 0, 0.25);
}
